.list{
    height: 80%;
    width: 50%;
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
.myInput{
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid orangered;
}
.myInput:focus {
    background-color: lightyellow;
    border: 2px solid blue;
  }

.body{
    background-color: teal;
    width: 100%;
    height: 50%;
}
.myButton{
    width: 15%;
    height: auto;
    border-radius: 10PX;
    padding: 10PX;
    border: none;
    background-color: teal;

}
.head{
    background-color: white;
    padding: 5px;
    margin: 3px;
}
.listBody{
    display: flex;
    align-items: center;
}
.check{
    float: left; 
    margin-right: auto;
    color: red;
}
mat-checkbox {
    color: rgb(0,178,0);
    
}